#dropdown1 {
	margin-top: 57px;
}

/* Sidenav styles */
.side-nav {
	top: 57px;
	width: 240px;
}
.wrapper {
	min-height: 600px;
	overflow: hidden;
	padding-left: 240px;
}
@media only screen and (max-width : 992px) {
	.wrapper {
		padding-left: 0;
	}
}
#sidenav-overlay {
	background: none;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i
{
   height: 56px;
   line-height: 56px;
}

main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  main, footer {
    padding-left: 0;
  }
}
#slide-out {
	background-color: #23272d; 
}
.side-nav li.active {
	border-left: 4px solid #1a7ab9;
	background-color: #181b1f;
}
.side-nav li {
	border-left: 4px solid #23272d;
}
.side-nav li:hover {
	border-left: 4px solid #1a7ab9;
	background-color: #263238;
}
.sideheader {
	background-color: #263238;
}

.pageheader {
	padding: 12px 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 0px; 
}
.mails {
	margin-bottom: 0px;
	padding: 12px 0px 5px 20px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 14px;
}
.mails:hover {
	background-color: #fafafa;
}
.mailsheader {
	margin-bottom: 0px;
	padding: 12px 0px 12px 20px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 14px;
}

#delete, #draftdelete {
	border: none;
	background: none;
}
#delete:focus, #draftdelete:focus {
	background: none;
}

.modal .modal-footer .btn {
	margin: 6px 8px;
}

.status {
	padding: 10px 0px 10px 30px;
}

#file {
	border: 1px solid grey;
	width: 190px;
}

#fileimage {
	padding: 30px 60px 20px 60px;
}