#dropdown1 {
	margin-top: 57px;
}

/* Sidenav styles */
.side-nav {
	margin-top: 57px;
	width: 240px;
}
.wrapper {
	min-height: 600px;
	overflow: hidden;
}

#sidenav-overlay {
	background: none;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i
{
   height: 56px;
   line-height: 56px;
   z-index: 9999;
}

#slide-out {
	background-color: #23272d; 
}
.side-nav li.active {
	border-left: 4px solid #1a7ab9;
	background-color: #181b1f;
}
.side-nav li {
	border-left: 4px solid #23272d;
}
.side-nav li:hover {
	border-left: 4px solid #1a7ab9;
	background-color: #263238;
}
.sideheader {
	background-color: #263238;
}

.pageheader {
	padding: 12px 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 0px; 
}
.mails {
	margin-bottom: 0px;
	padding: 12px 0px 5px 20px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 14px;
}
.mails:hover {
	background-color: #fafafa;
}
.mailsheader {
	margin-bottom: 0px;
	padding: 12px 0px 12px 20px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 14px;
}

.status {
	padding: 10px 0px 10px 30px;
}

.carousel-slider {
    height: 200px !important;
    margin-top: 2px;
}

#loginheader {
	margin-top: 20px; 
	margin-bottom: -29px; 
	background-color: #373e4a; 
	z-index: 10;
	 padding-top: 25px; 
	 text-align: center; 
	 color: white; 
	 font-size:300; 
}

#loginbody {
	padding: 60px 30px;
	background: #2E3641; 
	margin-top: -40px; 
	margin-bottom: 0;
	z-index: 10;
	min-height: 500px;
}

#loginbody input[type=text], #loginbody input[type=password] {
	background-color: #373e4a;
	border-radius: 3px;
	border: none;
	padding: 0 0 0 15px;
}